:root {
    --primary-color: #0a0a0a;
    --secondary-color: white;
    --tertiary-color: #7f9ba3;
  }

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
body {
    color: var(--secondary-color);
    font-family: Helvetica, Arial, sans-serif;
  }

/* HEADER / NAV BAR STYLES START */

header {
    padding: 20px 35px;
    background-color: var(--tertiary-color);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
  }
  
  header h1 {
    font-weight: bold;
    margin: 0;
    font-size: 36px;
    color: var(--secondary-color);
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  header img {
    width: 10%;
    border-radius: 15px;
    margin: 20px;
  }
  
  header a {
    text-decoration: none;
    color: var(--primary-color);
    justify-content: center;
    flex-direction: column;
    padding: 10px;
  }  

  .title {  
    border: solid 3px white;
    border-radius: 15px;
    background-color: var(--secondary-color);
  }
  
  header nav {
    margin: 7px 0;
    width: 100%;
    text-align: center;
    padding: 10px;
  }
  
  header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
  }
  
  header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
  
  header nav ul li a:hover {
    background: var(--secondary-color);
    color: var(--primary-color);
    border-radius: 15px;
    text-shadow: none;
  }
  
/* HEADER / NAVBAR STYLES END */

/* HERO STYLES START */
section {
    background-image: url('../images/purple-hero.jpg');
    height: 600px;
    padding: 60px;
}  
.hero-cta h1 {
  font-size: 50px;
  font-weight: 900;
}

/* SECTION TITLE STYLES START */
.section-title {
  font-size: 48px;
  border-bottom: 3px solid;
  color: var(--secondary-color);
  padding-bottom: 0;
  text-align: center;
  margin: 0 auto 35px auto;
  width: 50%;
  background-color: var(--tertiary-color);
}

.primary-border {
  border-color: var(--primary-color);
}

.secondary-border {
  border-color: var(--tertiary-color);
}
/* SECTION TITLE STYLES END */

/* WHAT WE DO STYLES */
.intro p {
  line-height: 1.7;
  color: var(--secondary-color);
  width: 80%;
  margin: 0 auto;
  font-size: 20px;
  text-align: center;
  background-color: var(--tertiary-color);
}
/* WHAT YOU DO STYLES END */

  /* FOOTER STYLES START */
footer {
    background: var(--primary-color);
    padding: 40px 35px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
  }
  
  footer h2 {
    color: var(--secondary-color);
    font-size: 30px;
    margin: 0;
  }
  
  footer div {
    line-height: 1.5;
    text-align: right;
  }
  
  footer a {
    color: var(--secondary-color);
  }
  /* END FOOTER STYLES */