:root {
    --primary-color: #0a0a0a;
    --secondary-color: white;
    --tertiary-color: #7f9ba3;
    --quarternary-color: #faa243;
  }

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
body {
    color: var(--secondary-color);
    font-family: Helvetica, Arial, sans-serif;
  }

/* HEADER / NAV BAR STYLES START */

header {
    padding: 20px 35px;
    background-color: var(--tertiary-color);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 9999;
    border: solid 2px var(--quarternary-color);
  }
  
header h1 {
    font-weight: bold;
    margin: 0;
    font-size: 25px;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
header a {
    text-decoration: none;
    color: var(--primary-color);
  }  

header h1 a {
    border: solid 3px rgb(148, 97, 4);
    background-color: var(--quarternary-color);
    box-shadow: 0 0 20px rgba(0, 0, 0, 1);
    border-radius: 15px;
    padding: 10px;
  }
  
header nav {
    margin: 7px 0;
  }
  
header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
  }
  
header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
  
header nav ul li a:hover {
  background: var(--secondary-color);
  color: var(--primary-color);
  border-radius: 15px;
  text-shadow: none;
  }  
/* HEADER / NAVBAR STYLES END */

/* HERO STYLES START */
.hero {
  background-image: url('../images/purple-hero.jpg');
  background-size: cover;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: flex-start;
  background-attachment: fixed;
  background-position: 80%;
  position: relative;
  opacity: 80%;
}  
.hero-img {
  width: 10%;
  border-radius: 50%;
  margin: 20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 1);
  align-items: flex-start;
  float: left;
  border: var(--quarternary-color) double 3px;
}
.bio-title{
  color: var(--quarternary-color);
  margin: 20px;
  font-size: 24px;
  border-bottom: var(--quarternary-color) solid 5px;
}
.bio {
  color: var(--secondary-color);
}
/* HERO STYLES SECTION ENDS */
/* MY WORK STYLES START */
.projects {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: flex-start;
  background-attachment: fixed;
  background-position: 80%;
  position: relative;
}  
.run-buddy {
  width: 25%;
  border-radius: 5px;
  margin: 20px;
  margin-bottom: 40px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 1);
  align-items: center;
  float: left;
}
.project-one-title {
  color: var(--quarternary-color);
  padding: 20px;
}
.details {
  color: var(--quarternary-color)
}

/* SECTION TITLE STYLES END */

/* WHAT WE DO STYLES */

/* WHAT YOU DO STYLES END */

  /* FOOTER STYLES START */
footer {
  padding: 20px 35px;
  background-color: var(--tertiary-color);
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 9999;
  border: solid 2px var(--quarternary-color);
  }
footer h1 {
  font-weight: bold;
  margin: 0;
  font-size: 25px;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
footer a {
  text-decoration: none;
  color: var(--primary-color);
  }  
footer nav {
  margin: 7px 0;
  }
footer nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  }
footer nav ul li a {
  padding: 10px 15px;
  font-weight: lighter;
  font-size: 1.55vw;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
  /* END FOOTER STYLES */
  