:root {
    --primary-color: #0a0a0a;
    --secondary-color: white;
    --tertiary-color: #7f9ba3;
    --quarternary-color: #faa243;
  }

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
body {
    color: var(--secondary-color);
    font-family: Helvetica, Arial, sans-serif;
  }

/* HEADER / NAV BAR STYLES START */

header {
    padding: 20px 35px;
    background-color: var(--tertiary-color);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 9999;
    border: solid 2px var(--quarternary-color);
  }
  
header h1 {
    font-weight: bold;
    margin: 0;
    font-size: 25px;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
header a {
    text-decoration: none;
    color: var(--primary-color);
  }  

header h1 a {
    border: solid 3px rgb(148, 97, 4);
    background-color: var(--quarternary-color);
    box-shadow: 0 0 20px rgba(0, 0, 0, 1);
    border-radius: 15px;
  }
  
header nav {
    margin: 7px 0;
  }
  
header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
  }
  
header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
  
header nav ul li a:hover {
  background: var(--secondary-color);
  color: var(--primary-color);
  border-radius: 15px;
  text-shadow: none;
  }  
/* HEADER / NAVBAR STYLES END */

/* HERO STYLES START */
.hero {
  background-image: url('../images/purple-hero.jpg');
  background-size: cover;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: flex-start;
  background-attachment: fixed;
  background-position: 80%;
}  
.hero-img h2 p {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.hero-img {
  width: 10%;
  border-radius: 15px;
  margin: 20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 1);
  align-items: flex-start;
}
.hero-img h2 {
  font-size: 50px;
  font-weight: 900;
}

/* SECTION TITLE STYLES START */
.section-title {
  font-size: 48px;
  border-bottom: 3px solid;
  color: var(--secondary-color);
  padding-bottom: 0;
  text-align: center;
  margin: 0 auto 35px auto;
  width: 50%;
  background-color: var(--tertiary-color);
}

.primary-border {
  border-color: var(--primary-color);
}

.secondary-border {
  border-color: var(--tertiary-color);
}
/* SECTION TITLE STYLES END */

/* WHAT WE DO STYLES */
.intro p {
  line-height: 1.7;
  color: var(--secondary-color);
  width: 80%;
  margin: 0 auto;
  font-size: 20px;
  text-align: center;
  background-color: var(--tertiary-color);
}
/* WHAT YOU DO STYLES END */

  /* FOOTER STYLES START */
footer {
  padding: 20px 35px;
  background-color: var(--tertiary-color);
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 9999;
  border: solid 2px var(--quarternary-color);
  }
footer h1 {
  font-weight: bold;
  margin: 0;
  font-size: 25px;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
footer a {
  text-decoration: none;
  color: var(--primary-color);
  }  
footer nav {
  margin: 7px 0;
  }
footer nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  }
footer nav ul li a {
  padding: 10px 15px;
  font-weight: lighter;
  font-size: 1.55vw;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
  /* END FOOTER STYLES */
  